<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Geodesignhub Financial Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="Geodesignhub Asset Analysis">
    <meta name="author" content="Geodesignhub">
    <meta name="robots" content="index, follow">
    <!-- icons -->
    <link rel="shortcut icon" href="/assets/loaders/favicon.ico">
    <!-- Bootstrap Core CSS file -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Override CSS file - add your own CSS rules -->
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/flatty.css" />
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap3.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/editor.dataTables.min.css" />
    
    <!-- Conditional comment containing JS files for IE6 - 8 -->
    <!--[if lt IE 9]>
            <script src="assets/js/html5.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Design Financial Analysis</a>

            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Design Financials</a></li>
            <li><a href="<%= summary_link %>">Summary Report</a></li>
            
            </ul>
            <!-- /.navbar-header -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
    <!-- Page Content -->
    <hr />
    <div class="container-fluid">
        <!-- /.row -->
        
        <!-- Heading Row -->
        <div class="row">
        <br>
        <p>Instructions: Fill in the financial and asset details for all of the diagrams in your design. Once complete you can see the summary report. </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>All Diagrams</h3>
                <table id="all_diagrams" class="hor-minimalist-b">
                    <thead>
                        <!-- <tr class='blank'>&nbsp;&nbsp;</tr> -->
                    </thead>
                    <tbody>
                        <!-- <tr class='blank'>&nbsp;&nbsp;</tr> -->
                    </tbody>
                    <tfoot>
                        <!-- <tr class='blank'>&nbsp;&nbsp;</tr> -->
                    </tfoot>
                </table>  
               
            </div>

            
        </div>
        <!-- Footer -->
        <br><br><hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2019 Geodesignhub, see the <a href="https://geodesignhub.github.io/AssetAnalysis/">Github repository</a> for more information.</p>
                </div>
            </div>
        </footer>
        <div id="drawing"></div>
    </div>
    <!-- /.container-fluid -->

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/humane.min.js"></script>
    <script type="text/javascript" src="assets/js/chartjs.min.js"></script>
    <script type="text/javascript" src="assets/js/utils.min.js"></script>
    <script type="text/javascript" src="assets/js/svg.min.js"></script>
    <script type="text/javascript" src="assets/js/chartjs.min.js"></script>
    <script type="text/javascript" src="assets/js/cleave.min.js"></script>
    <!-- Bootstrap Core scripts -->
    <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/dataTables.editor.min.js"></script>

    
    <script type="text/javascript" src="assets/js/assets_details_bulk.js"></script>
    <!-- Bootstrap Core scripts -->
    
    
    <script type="text/javascript">
        var systems = <%- systems %>;
        const apitoken = "<%= apitoken  %>"; 
        const projectid = "<%= projectid %>";
        const saved_diagram_details = <%- saved_diagram_details %>;
        const csrf = $("[name='_csrf']").val();
        const systemdetail = <%- systemdetail %>;
        const projecttype = "<%= projecttype %>";
        const syndiagrams = <%- syndiagrams %>;
        const design_url_details = <%- design_url_details %>;
        var design = <%- design %>;
        var asset_class = "";

        var representative_image = "";
        var diagrams_table;
        var diagramid = 0;
        var diagramdetail = {};
        const all_images = <%- all_image_files %>;
        var diagram_cost_details = {
             "initCost" : 0,
             "acfCost" : 100000,
             "aopexCost" : 0,
             "asgaCost" : 0
        }

        var svgDrawing = SVG('drawing').size(10, 10);
        // fx.base = "USD";

        
        $("#loadingGIF").hide();
        var opGJ = {
            "type": "FeatureCollection",
            "features": []
        };

    var asset_class = "";

    
    $('#savevalues').on('click', function (e) {
        const capex = diagram_cost_details.initCost;
        const acf = diagram_cost_details.acfCost;
        const opex = diagram_cost_details.aopexCost;
        const asga = diagram_cost_details.asgaCost;
        const acfg = (parseFloat($("#acfg-slider").val()) / 100).toFixed(2);
        const wacc = (parseFloat($("#wacc-slider").val()) / 100).toFixed(2);

        const capex_start = isNumeric($("#initcost-syear").val()) ? $("#initcost-syear").val() : 0;
        const capex_end = isNumeric($("#initcost-eyear").val()) ? $("#initcost-eyear").val() : 1;
        const acf_start = isNumeric($("#acf-syear").val()) ? $("#acf-syear").val() : 0;

        var asset_details = {};
        const csrf = $("[name='_csrf']").val();
        const data = {
            "capex": capex,
            "acf": acf,
            "projectid": projectid,
            "diagramid": diagramid,
            "opex": opex,
            "asga": asga,
            "capex_start": capex_start,
            "capex_end": capex_end,
            "acf_start": acf_start,
            "acfg":acfg,
            "wacc":wacc,
            "_csrf": csrf,
        };
        // console.log(data);
        var url = '/set_financials/';
        
        var promise = $.ajax({
            url: url,
            type: 'POST',
            data: data
        });

        promise.done(function (data) {
            humane.log("Data successfully saved", {
                addnCls: 'humane-flatty-success'
            });
        });

        promise.fail(function (data) {
            humane.log("Error in saving data, the administrators have been notified", {
                addnCls: 'humane-flatty-error'
            });
        });

    });

        generateInitTables();
        var editor; // use a global for the submit and return data rendering in the examples
 
$(document).ready(function() {
    editor = new $.fn.dataTable.Editor( {
        table: "#all_diagrams",
           fields: [ {
                label: "Last name:",
                name: "capex"
            }, {
                label: "Office:",
                name: "opex"
            }, {
                label: "Office:",
                name: "acf"
            }, {
                label: "Office:",
                name: "asga"
            } 
        
    ]
        
    } );
 $('#all_diagrams').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );
    let groupColumn = 5;
    $('#all_diagrams').DataTable( {
        dom: "Bfrtip",

            "columnDefs": [{
                "visible": false,
                "targets": groupColumn
            }],
            searching: false,
            
            
            "order": [
                [groupColumn, 'asc']
            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;

                api.column(groupColumn, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="">' + group +
                            '</td></tr>'
                        );
                        last = group;
                    }
                });
            },
        style: 'single', 
        columns: [
           
            { data: "description" },
            { data: "capex",render: $.fn.dataTable.render.number( ',', '.', 0, 'EUR' )  },
            { data: "opex" ,render: $.fn.dataTable.render.number( ',', '.', 0, 'EUR' ) },
            { data: "acf" ,render: $.fn.dataTable.render.number( ',', '.', 0, 'EUR' ) },
            { data: "asga" ,render: $.fn.dataTable.render.number( ',', '.', 0, 'EUR' ) },
            { data: "system"  },
        ]
    } );
} );
    </script>

</body>

</html>