<%- include('head') -%>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
                <!-- Brand and toggle get grouped for better mobile display -->
                
                    <a class="py-2" class="navbar-brand" href="#">Design Diagram Financials</a>
    
    
                
                    <a class="py-2 d-none d-md-inline-block active" href="<%= basic_financials_url %>">Costs Table</a></li>
                    <a class="py-2 d-none d-md-inline-block active" href="<%= detailed_financials_url %>">Detailed Costs</a>
                    <a class="py-2 d-none d-md-inline-block active" href="<%= summary_link %>">Summary Report</a>
                
                
                <!-- /.navbar-header -->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    <!-- /.navbar -->
    <!-- Page Content -->
    
    <div class="container">
        <!-- /.row -->
        
        <!-- Heading Row -->
        
        <br>
        <p>Instructions: Fill in the financial and asset details for all of the diagrams in your design. Once complete you can see the summary report. </p>
        <br>

        <div class="row">
            <div class="col-4">
                <h3>All Diagrams</h3>
                <table id="all_diagrams" class="hor-minimalist-b">
                    <thead>
                        <!-- <tr class='blank'>&nbsp;&nbsp;</tr> -->
                    </thead>
                    <tbody>
                        <!-- <tr class='blank'>&nbsp;&nbsp;</tr> -->
                    </tbody>
                    <tfoot>
                        <!-- <tr class='blank'>&nbsp;&nbsp;</tr> -->
                    </tfoot>
                </table>  
               
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h3>Diagram Details</h3>
                    
                    <div id="inputmap_financial"></div>
                    <h4 id="diagName"></h4>
                    <h5 id="diagAreaLength"></h5>
                    <h5 id="sysCost"></h5>
                    
            </div>

            <div class="col-8">
                
                <div id="financial-details" class="row d-none">
                    <div class="form-style-5 col-6">                
                        <h3>Financial Parameters</h3>
                        <h5>Capital Expenditure / Initial Investment</h5>
                        <p><input type="text" id="initcost-slider" name="initcost-slider" value="" /></p>
                        <div class="row">
                            <div class="col-4">
                                <p>Start year (0-30)<input type="text" id="initcost-syear" name="initcost-syear" value="0" /></p>
                            </div>
                            <div class="col-4">
                                <p>End year (0-30)<input type="text" id="initcost-eyear" name="initcost-eyear" value="1" /></p>
                            </div>
                        </div>

                        <h5>Annual Cashflow</h5>

                        <p><input type="text" id="acf-slider" name="acf-slider" value="" /></p>

                        <div class="row">
                            <div class="col-4">
                                <p>Start year (0-30)<input type="text" id="acf-syear" name="acf-syear" value="0" /></p>
                            </div>
                        </div>


                        <h5>Annual OpEx</h5>
                        <p><input type="text" id="aopex-slider" name="aopex-slider" value="" /></p>
                        <h5>Annual SGA</h5>
                        <p><input type="text" id="asga-slider" name="asga-slider" value="" /></p>
                        <h5>Annual cashflow growth (inflation)</h5>
                        <p><input type="text" id="acfg-slider" name="acfg-slider" value="" /></p>
                        <h5>Weighted Annual Cost of Capital (WACC)</h5>
                        <p><input type="text" id="wacc-slider" name="wacc" value="" /></p>
                        
                        <p><button id="computeNPVButton" type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-certificate"></span> Compute NPV</button>&nbsp;&nbsp;<span id="loadingGIF"><img src="/assets/loaders/loading.gif">&nbsp;<span id="procstatus">Processing</span>...</span>
                        </p>

                    </div>
                    <div class="col-6">
                        <h3>30-year Discounted Cash Flow</h3>
                        <div id="dcfchart_cont">
                            <canvas id="chart" height="250"></canvas>
                        </div>
                        <hr>
                        
                        <h3>DCF and NPV</h3>
                        <p>Total discounted cashflow and the net present value (total cash flow - initial investment -
                            operational expenses - general expenses) is shown below.</p>
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <h6>Total Discounted Cash Flow</h6>
                                </td>
                                <td>
                                    <h3 id="totaldcf"></h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Net Present Value (NPV)</h6>
                                </td>
                                <td>
                                    <h3 id="npvVal"></h3>
                                    <p id="npvmeaning"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                     <div class="col-12">
                        <br><br>
                        <h3>Remember parameters</h3>
                        <br>
                      
                         <% if (projecttype == 'paid'){ %>
                    <button type="button" id="savevalues" class="btn btn-primary btn-x-sm"><span class="glyphicon glyphicon-cloud" aria-d-none="true"></span> Save values on server </button> <br><br>
                <% } else{ %>  
                <small>This is only available for paid projects on Geodesignhub, you can save the values you enter so you dont have to enter them again.</small>
                <% } %>
                   </div>
                </div>
                <br>
                </div>

                <div id="asset-details" class="row d-none">
                    <div class="row">
                        <div class="col-4">
                                    <h3>Asset Class</h3>
                                    <select id="base_asset_class" class="form-control">
                                        <option selected disabled>Select Class</option>
                                        <option data-value='residential'>Residential</option>
                                        <option data-value='hospitality'>Tourism</option>
                                        <option data-value='retail'>Retail</option>
                                        <option data-value='office'>Office</option>
                                        <option data-value='amenity'>Amenity</option>
                                        <option data-value='mixuse'>Mix Use</option>
                                        <option data-value='transport'>Transport</option>
                                        <option data-value='community'>Community</option>
                                        <!--     <option data-value='tourism'>Tourism</option>
                                            <option data-value='commercial'>Commercial</option>-->
                                        <option data-value='agriculture'>Agriculture</option> 
                                        <option data-value='green_infrastructure'>Green Infrastructure</option>
                                    </select><br><br>
                                    <select id="base_asset_subclass" class="form-control">
                                        <option selected disabled>Select Subclass</option>
                                    </select>
                                    <br>

                            <br>

                            <div class='usage_form d-none' id="built_env_form_residential">
                                <h4>Total people housed: <a class="editable" href="#" id="number_of_people_residential" data-type="text" data-title="Enter number of people living here">0</a></h4>
                                <h4>Total units: <a class="editable" href="#" id="residential_units" data-type="text" data-title="Enter new residential units e.g. 5">0</a></h4>

                                <h4>Number of floors: <a class="editable" href="#" id="residential_floors" data-type="text" data-title="Enter new residential units e.g. 5">1</a></h4>
                                
                                
                                <h4>Floor Area Ratio: <a class="editable" href="#" id="residential_far" data-type="text" data-title="Enter new Floor Area Ratio e.g. .7">.6</a></h4>
                                    <br>
                            <br>
                                <button id="recompute_residential" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button><br><br>
                            
                            </div>

                            <div class='usage_form d-none' id="built_env_form_tourism">
                                <h4>Average m2 per guest: <a class="editable" href="#" id="tourism_m2_per_guest" data-type="text" data-title="Enter new room size e.g. 5">58</a></h4>

                                <h4>Floors: <a class="editable" href="#" id="tourism_floors" data-type="text" data-title="Enter new floors e.g. 5">2</a></h4>

                                <h4>Land Area Factor: <a class="editable" href="#" id="tourism_land_area" data-type="text" data-title="Enter new land consumption factor  e.g. 5">3</a></h4>

                                <h4>Avg. People per room: <a class="editable" href="#" id="tourism_people_per_room" data-type="text" ata-title="Enter new people per room">3</a></h4>

                                <h4>Target Occupancy Rate: <a class="editable" href="#" id="target_occupancy_rate" data-type="text" data-title="Enter new target occupancy rate e.g. .7">.60</a></h4>
                                <br>
                            
                                <h4>Direct employees to visitors ratio: <a class="editable" href="#" id="direct_employees_to_visitor_ratio_tourism" data-type="text" data-title="Enter new ratio">.01</a></h4>
                                <h4>Indirect to direct employees ratio: <a class="editable" href="#" id="indirect_to_direct_employees_ratio_tourism" data-type="text" data-title="Enter new ratio">.2</a></h4>
                                <br>

                                <button id="recompute_tourism" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>

                            </div>


                            <div class='usage_form d-none' id="built_env_form_transport">                    
                                <h4>Passenger-trips/day: <a class="editable" href="#" id="transport_passenger_trips" data-type="text" data-title="Enter new room size e.g. 5">12</a></h4><br>

                                <button id="recompute_transport" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>


                            </div>

                            <div class='usage_form d-none' id="built_env_form_agriculture">        
                            </div>

                            <div class='usage_form d-none' id="built_env_form_green_infrastructure">        
                                </div>
                
                            <div class='usage_form d-none' id="built_env_form_office">                    
                                <h4>Per capita space required in m2: <a class="editable" href="#" id="office_m2_per_visitor"
                                        data-type="text" data-title="Enter new room size e.g. 5">12</a></h4>
                                <h4>Number of floors: <a class="editable" href="#" id="office_floors" data-type="text" data-title="Enter new floors e.g. 5">1</a></h4>
                                <h4>Expected office workers: <a class="editable" href="#" id="total_daily_visitors_office"
                                        data-type="text" data-title="Enter a new office workers">300</a></h4>
                                <br>
                                
                                <h4>Direct employees to office workers ratio: <a class="editable" href="#" id="direct_employees_to_visitor_ratio_office" data-type="text" data-title="Enter new ratio">.01</a></h4>
                                <h4>Indirect to direct employees ratio: <a class="editable" href="#" id="indirect_to_direct_employees_ratio_office" data-type="text" data-title="Enter new ratio">.2</a></h4>

                                <br>
                                <button id="recompute_office" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>

                            </div>

                            <div class='usage_form d-none' id="built_env_form_amenity">                    
                                <h4>Per capita space required in m2: <a class="editable" href="#" id="amenity_m2_per_visitor"
                                        data-type="text" data-title="Enter a new valeu e.g. 2">12</a></h4>
                                <h4>Number of floors: <a class="editable" href="#" id="amenity_floors" data-type="text" data-title="Enter new floors e.g. 5">1</a></h4>
                                <h4>Expected visitors: <a class="editable" href="#" id="total_daily_visitors_amenity"
                                        data-type="text" data-title="Enter a new visitors e.g. 400">300</a></h4>
                                <br>
                                
                                <h4>Direct employees to visitors ratio: <a class="editable" href="#" id="direct_employees_to_visitor_ratio_amenity" data-type="text" data-title="Enter new ratio">.01</a></h4>
                                <h4>Indirect to direct employees ratio: <a class="editable" href="#" id="indirect_to_direct_employees_ratio_amenity" data-type="text" data-title="Enter new ratio">.2</a></h4>

                                <br>
                                <button id="recompute_amenity" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>

                            </div>

                            <div class='usage_form d-none' id="built_env_form_retail">
                                <h4>Per capita retail space <a class="editable" href="#" id="retail_m2_per_visitor" data-type="text"
                                        data-title="Enter new room size e.g. 5">4</a></h4>
                                <h4>Number of floors: <a class="editable" href="#" id="retail_floors" data-type="text" data-title="Enter new floors e.g. 5">1</a></h4>
                                <h4>Expected daily visitors: <a class="editable" href="#" id="total_daily_visitors_retail"
                                        data-type="text" data-title="Enter a new visitor number">3000</a></h4>
                                <br>
                                <h4>Direct employees to visitors ratio: <a class="editable" href="#" id="direct_employees_to_visitor_ratio_retail" data-type="text" data-title="Enter new ratio">.05</a></h4>
                                <h4>Indirect to direct employees ratio: <a class="editable" href="#" id="indirect_to_direct_employees_ratio_retail" data-type="text" data-title="Enter new ratio">.2</a></h4>        
                                    
                                <br>
                                <div class="d-none">
                                    <h5>% interested in Luxury Retail (e.g. name brands): <a class="editable" href="#" id="percent_interested_in_luxury_retail"
                                            data-type="text" data-title="Enter percentage e.g. 0.15">.1</a></h5>
                                    <h5>% interested in Support Retail (e.g office supplies): <a class="editable" href="#" id="percent_interested_in_support_retail"
                                            data-type="text" data-title="Enter percentage e.g. 0.1">.4</a></h5>
                                    <h5>% interested in FMCG Retail (e.g. groceries, medicines): <a class="editable" href="#" id="percent_interested_in_fmcg_retail"
                                            data-type="text" data-title="Enter percentage e.g. 0.5">.3</a></h5>
                                    <h5>% interested in other retail (e.g. food / restaurant): <a class="editable" href="#" id="percent_interested_in_food_retail"
                                            data-type="text" data-title="Enter percentage e.g. 0.4">.2</a></h5>
                                
                                </div>
                                <br>

                                <button id="recompute_retail" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>

                            </div>


                            <div class='usage_form d-none' id="built_env_form_mixuse">
                                <h4>Total people housed: <a class="editable" href="#" id="number_of_people_residential_mixuse" data-type="text" data-title="Enter number of people living here">0</a></h4>
                                <h4>Total units: <a class="editable" href="#" id="residential_units_mixuse" data-type="text" data-title="Enter new residential units e.g. 5">0</a></h4>

                                <h4>Number of floors: <a class="editable" href="#" id="residential_floors_mixuse" data-type="text" data-title="Enter new residential units e.g. 5">1</a></h4>
                                
                                
                                <h4>Floor Area Ratio: <a class="editable" href="#" id="residential_far_mixuse" data-type="text" data-title="Enter new Floor Area Ratio e.g. .7">.6</a></h4>
                                    <br>
                            
                                    
                                <h4>Per capita retail space <a class="editable" href="#" id="retail_m2_per_visitor_mixuse" data-type="text"
                                    data-title="Enter new shop size e.g. 5">4</a></h4>
                            <h4>Number of floors: <a class="editable" href="#" id="retail_floors_mixuse" data-type="text" data-title="Enter new floors e.g. 5">1</a></h4>
                            <h4>Expected visitors in area: <a class="editable" href="#" id="total_daily_visitors_retail_mixuse" data-type="text" data-title="Enter a new visitor number">3000</a></h4>
                            <br>
                            <h4>Direct employees to visitors ratio: <a class="editable" href="#" id="direct_employees_to_visitor_ratio_retail_mixuse" data-type="text" data-title="Enter new ratio">.05</a></h4>
                            <h4>Indirect to direct employees ratio: <a class="editable" href="#" id="indirect_to_direct_employees_ratio_retail_mixuse" data-type="text" data-title="Enter new ratio">.2</a></h4>        
                                
                            <br>
                            <div class="d-none">
                                <h5>% interested in Luxury Retail (e.g. name brands): <a class="editable" href="#" id="percent_interested_in_luxury_retail_mixuse" data-type="text" data-title="Enter percentage e.g. 0.15">.1</a></h5>
                                <h5>% interested in Support Retail (e.g office supplies): <a class="editable" href="#" id="percent_interested_in_support_retail_mixuse" data-type="text" data-title="Enter percentage e.g. 0.1">.4</a></h5>
                                <h5>% interested in FMCG Retail (e.g. groceries, medicines): <a class="editable" href="#" id="percent_interested_in_fmcg_retail_mixuse" data-type="text" data-title="Enter percentage e.g. 0.5">.3</a></h5>
                                <h5>% interested in other retail (e.g. food / restaurant): <a class="editable" href="#" id="percent_interested_in_food_retail_mixuse" data-type="text" data-title="Enter percentage e.g. 0.4">.2</a></h5>                
                            </div>
                            <br>
                            <button id="recompute_mixuse" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>
                            </div>

                            <div class='usage_form d-none' id="built_env_form_community">
                                <h4>Number of people using daily (visitors): <a class="editable" href="#" id="community_visitors" data-type="text" data-title="Enter new number ">12</a></h4>
                                <h4>Number of people using daily (residents): <a class="editable" href="#" id="community_residents" data-type="text" data-title="Enter new number ">12</a></h4><br>
                                <button id="recompute_community" type="button" class="btn btn-default recompute"><i class="glyphicon glyphicon-certificate"></i> Recompute</button>
                            </div>
                            <div class='usage_form d-none' id="built_env_form_agriculture"></div>
                            <div class='usage_form d-none' id="built_env_form_green-infrastructure"></div>
                            <br>

                        </div>     
                        <div class="col-4">            
                                <h3>Representative Image</h3>                        
                                <select id="base_asset_subclass_image" class="form-control">
                                    <option selected disabled>Change Image</option>
                                </select>
                                <br> <br><br>
                                <div id="selected_typology_image">
                                    <small>No representative image specified, choose asset class and pick image.</small>
                                </div>      
                            </div>
                        <div class="col-4">
                            <div class="services_form">
                                <h3>Computed Details</h3>
                                <br>
                                <div class="usage_form d-none" id="built_env_form_residential_secondary">                        
                                    <h4><span id="current_pop_density"></span> people per km2 <small>Population Density</small></h4>
                                    <br>
                                    
                                    <h4><span id="avg_area_per_unit">0</span> <small>Avg. Area per unit</small></h4>                        
                                    <h4><span id="total_floor_area_residential_built">0</span> m2 <small>Total built floor area</small></h4>
                                    <h4><span id="total_floor_area_residential_available">0</span> m2 <small>Total available area</small></h4>
                                    
                                    <br>
                                    
                                    <small>Population density of Monaco is 18,000 people per sq. km, Hong Kong is 6,400 people sq. km, Berlin is 4,000 people per sq. km. See more <a href="https://en.wikipedia.org/wiki/List_of_cities_by_population_density" target="_blank">on Wikipedia</a></small>
                                    <br><br>
                                </div>
                
                                <div class="usage_form d-none" id="built_env_form_mixuse_secondary">                        
                                    <h4><span id="current_pop_density_mixuse"></span> people per km2 <small>Population Density</small></h4>
                                    <br>
                                    
                                    <h4><span id="avg_area_per_unit_mixuse">0</span> <small>Avg. Area per unit</small></h4>                        
                                    <h4><span id="total_floor_area_residential_built_mixuse">0</span> m2 <small>Total built floor area</small></h4>
                                    <h4> <span id="total_floor_area_residential_available_mixuse">0</span> m2 <small>Total available area</small></h4><br>
                                    
                                    <h4><span id="total_floor_area_retail_required_mixuse">0</span> m2. <small>Total Floor area needed</small></h4>
                                    <div class="d-none">
                                        <h6><span id="total_floor_area_retail_luxury_split_mixuse">0</span> m2 <small>Luxury</small></h6>
                                        <h6><span id="total_floor_area_retail_support_split_mixuse">0</span> m2 <small>Support</small></h6>
                                        <h6><span id="total_floor_area_retail_fmcg_split_mixuse">0</span> m2 <small>FMCG</small></h6>
                                        <h6><span id="total_floor_area_retail_other_split_mixuse">0</span> m2 <small>Other</small> </h6>
                                        <br>
                                    </div>
                                    <h4><span id="total_floor_area_retail_available_mixuse">0</span> m2 <small>Total Floor area available</small></h4>
                                    <br>
                                    <br>
                                    <h4><span id="total_direct_employment_retail_mixuse">0</span> <small>Total direct employment</small></h6>
                                    <h4><span id="total_indirect_employment_retail_mixuse">0</span> <small>Total indirect employment</small></h6>     
                                    <br><br>
                                    
                                    <small>Population density of Monaco is 18,000 people per sq. km, Hong Kong is 6,400 people sq. km, Berlin is 4,000 people per sq. km. See more <a href="https://en.wikipedia.org/wiki/List_of_cities_by_population_density" target="_blank">on Wikipedia</a></small>
                                    <br><br>
                                    
                                </div>
                
                                <div class="usage_form d-none" id="built_env_form_tourism_secondary">
                                
                                <h4><span id="tourism_total_rooms">3</span> <small>Total Rooms</small></h4>
                
                                <h4><span id="total_yearly_visitors">3</span> <small>Yearly Visitors</small></h4>
                                
                                <h4><span id="total_daily_visitors">3</span> <small>Daily Visitors</small></h4>
                                
                                <h4><span id="total_direct_employment_tourism">0</span> <small>Total direct employment</small></h6>
                                    <h4><span id="total_indirect_employment_tourism">0</span> <small>Total indirect employment</small></h6>
                                    <br><br>
                                </div>
                
                                <div class="usage_form d-none" id="built_env_form_office_secondary">                    
                                    <br>
                                    <h4><span id="total_floor_area_office_available">0</span> m2 <small>Total Floor area available</small></h4>                    
                                    <h4><span id="total_floor_area_office_required">0</span> m2 <small>Total Floor area needed</small></h4>
                                    <br>
                                    <h4><span id="total_direct_employment_office">0</span> <small>Total direct employment</small></h6>
                                    <h4><span id="total_indirect_employment_office">0</span> <small>Total indirect employment</small></h6>
                                <br>
                                </div>

                                <div class="usage_form d-none" id="built_env_form_amenity_secondary">                    
                                    <br>
                                    <h4><span id="total_floor_area_amenity_available">0</span> m2 <small>Total Floor area available</small></h4>                    
                                    <h4><span id="total_floor_area_amenity_required">0</span> m2 <small>Total Floor area needed</small></h4>
                                    <br>
                                    <h4><span id="total_direct_employment_amenity">0</span> <small>Total direct employment</small></h6>
                                    <h4><span id="total_indirect_employment_amenity">0</span> <small>Total indirect employment</small></h6>
                                <br>
                                </div>
                
                
                                <div class="usage_form d-none"  id="built_env_form_retail_secondary">              
                                
                                    <h4><span id="total_floor_area_retail_required">0</span> m2. <small>Total Floor area needed</small></h4>
                                    <div class="d-none">
                                        <h6><span id="total_floor_area_retail_luxury_split">0</span> m2 <small>Luxury</small></h6>
                                        <h6><span id="total_floor_area_retail_support_split">0</span> m2 <small>Support</small></h6>
                                        <h6><span id="total_floor_area_retail_fmcg_split">0</span> m2 <small>FMCG</small></h6>
                                        <h6><span id="total_floor_area_retail_other_split">0</span> m2 <small>other</small></h6>
                                        <br>
                                    </div>
                                    <h4><span id="total_floor_area_retail_available">0</span> m2 <small>Total Floor area available</small></h4>
                                    <br>
                                    <br>
                                    <h4><span id="total_direct_employment_retail">0</span> <small>Total direct employment</small></h6>
                                    <h4><span id="total_indirect_employment_retail">0</span> <small>Total indirect employment</small></h6>                            
                                <br>
                                </div>
                                </div>
                        </div>
                    </div>
                    
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <div id="services" class="services_form">
                                <h3>Services</h3>
                                <small>A summary of supporting services and assumptions that are needed to support this Asset class</small>
                                <br>
                                <h4>Community</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Hospital Beds per capita</th>
                                            <td>
                                                <span id="beds_per_capita"></span>
                                            </td>
                                            <td>Total beds: <span id='total_hospital_beds'></span><input type='d-none' id='total_hospital_beds_raw'></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Policestations (cells) per capita</th>
                                            <td>
                                                <span id="police_station_per_capita"></span>
                                            </td>
                                            <td>Total police stations (cells): <span id='total_police_stations'></span><input type='d-none' id='total_police_stations_raw'></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Fire personnel per capita</th>
                                            <td>
                                                <span id="fire_station_per_capita"></span>
                                            </td>
                                            <td>Total fire personnel: <span id='total_firestations'></span><input type='d-none' id='total_firestations_raw'></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">K12 Schools (m2) per student (5% of population)</th>
                                            <td>
                                                <span id="school_per_capita"></span>
                                            </td>
                                            <td>Total school area required: <span id='total_schools'></span> m2<input type='d-none' id='total_schools_raw'> </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h4>Energy</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Electricity demand per person (MWh / year) </th>
                                            <td>
                                                <span id="energy_per_capita"></span>
                                            </td>
                                            <td>Total electricity demand: <span id='total_energy_demand'></span> MW <input type='d-none' id='total_energy_demand_raw'></td>
                                        </tr>

                                    </tbody>
                                </table>
                                <h4>Water</h4>

                                <table class="table table-bordered">
                                    <tbody>

                                        <th scope="row">Water demand (m3/year/person) </th>
                                        <td>
                                            <span id="water_per_capita"></span>
                                        </td>
                                        <td>Total water demand: <span id='total_water_demand'></span> m3 <input type='d-none' id='total_water_demand_raw'></td>
                                        </tr>

                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        <div class="col-6">
                            <br><br><br><br>
                            <div id="" class="services_form">  
                        
                            <h4>Sewage</h4>

                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Sewage demand (m3/year/person)</th>
                                            <td>
                                                <span id="sewage_per_capita"></span>
                                            </td>
                                            <td>Total sewage demand: <span id='total_sewage_demand'></span> m3 <input type='d-none' id='total_sewage_demand_raw'></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Transport</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">% using Road (twice a day)</th>
                                            <td>
                                                <span id="percent_road_usage"></span>
                                            </td>

                                            <td>Usage (people)</td>
                                            <td><span id='total_road_usage'></span><input type='d-none' id='total_road_usage_raw'></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">% using Rail (twice a day)</th>
                                            <td>
                                                <span id="percent_rail_usage"></span>
                                            </td>

                                            <td> Usage (people)</td>
                                            <td><span id='total_rail_usage'></span><input type='d-none' id='total_rail_usage_raw'></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <h4>Parking</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Recommended parking spaces ( 2 people per car, 50% usage)</th>
                                            <td>
                                                <span id="parking_factor"></span>
                                            </td>

                                            <td>Total</td>
                                            <td><span id='total_parking'></span><input type='d-none' id='total_parking_raw'></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <h4>Green Spaces</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Per capita green space (m2)</th>
                                            <td>
                                                <span id="per_capita_green_space"></span>
                                            </td>

                                            <td>Total</td>
                                            <td><span id='total_green_space'></span><input type='d-none' id='total_green_space_raw'></td>
                                        </tr>
                                    
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">  
                    <div class="col-6">
                            <h3>Remember parameters</h3>
                            <br>
                         <% if (projecttype == 'paid'){ %>
                    <button type="button" id="savevalues_asset" class="btn btn-primary btn-x-sm"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Save values on server </button> <br><br>
                <% } else{ %>  
                <small>This is only available for paid projects on Geodesignhub, you can save the values you enter so you dont have to enter them again.</small>
                <% } %>
                    </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer -->
        <br><br><hr>
        <footer>
            <div class="row">
                <div class="col-12">
                    <p>&copy; 2019 Geodesignhub, see the <a href="https://geodesignhub.github.io/AssetAnalysis/">Github repository</a> for more information.</p>
                </div>
            </div>
        </footer>
        <div id="drawing"></div>
    </div>
    <!-- /.container-fluid -->

    <%- include('footer-js') -%>
    
    <script type="text/javascript" src="assets/js/financial-details.js"></script>
    <script type="text/javascript">
        var systems = <%- systems %>;
        const apitoken = "<%= apitoken  %>"; 
        const projectid = "<%= projectid %>";
        const saved_diagram_details = <%- saved_diagram_details %>;
        const csrf = $("[name='_csrf']").val();
        const systemdetail = <%- systemdetail %>;
        const projecttype = "<%= projecttype %>";
        const syndiagrams = <%- syndiagrams %>;
        const design_url_details = <%- design_url_details %>;
        var design = <%- design %>;
        var asset_class = "";

        var representative_image = "";
        var diagrams_table;
        var diagramid = 0;
        var diagramdetail = {};
        const all_images = <%- all_image_files %>;
        var diagram_cost_details = {
             "initCost" : 0,
             "acfCost" : 100000,
             "aopexCost" : 0,
             "asgaCost" : 0
        }

        var inputmap = L.map('inputmap_financial', {
            'zoomControl': false,
            'dragging': false,
            'touchZoom': false,
            'scrollWheelZoom': false,
            'doubleClickZoom': false
        });
        var inputbaseLayer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>',
            maxZoom: 18,
        }).addTo(inputmap);
        var inputLayer = L.featureGroup().addTo(inputmap);

        // var ctx = $("#chart");
        var npv_chart;
        var svgDrawing = SVG('drawing').size(10, 10);
        // fx.base = "USD";

        $("#loadingGIF").hide();
        var opGJ = {
            "type": "FeatureCollection",
            "features": []
        };

    var asset_class = "";

    $('#computeNPVButton').on('click', function (e) {
        $("#loadingGIF").show();
        computeNPV();
    });
    var selectedcurrency = $("#workingcurrency :selected").val() + " ";
    $("#workingcurrency").on('change', function () {
        selectedcurrency = this.value + " ";

    });

    $('#savevalues').on('click', function (e) {
        const capex = diagram_cost_details.initCost;
        const acf = diagram_cost_details.acfCost;
        const opex = diagram_cost_details.aopexCost;
        const asga = diagram_cost_details.asgaCost;
        const acfg = (parseFloat($("#acfg-slider").val()) / 100).toFixed(2);
        const wacc = (parseFloat($("#wacc-slider").val()) / 100).toFixed(2);

        const capex_start = isNumeric($("#initcost-syear").val()) ? $("#initcost-syear").val() : 0;
        const capex_end = isNumeric($("#initcost-eyear").val()) ? $("#initcost-eyear").val() : 1;
        const acf_start = isNumeric($("#acf-syear").val()) ? $("#acf-syear").val() : 0;

        var asset_details = {};
        const csrf = $("[name='_csrf']").val();
        const data = {
            "capex": capex,
            "acf": acf,
            "projectid": projectid,
            "diagramid": diagramid,
            "opex": opex,
            "asga": asga,
            "capex_start": capex_start,
            "capex_end": capex_end,
            "acf_start": acf_start,
            "acfg":acfg,
            "wacc":wacc,
            "_csrf": csrf,
        };
        // console.log(data);
        var url = '/set_financials/';
        
        var promise = $.ajax({
            url: url,
            type: 'POST',
            data: data
        });

        promise.done(function (data) {
            humane.log("Data successfully saved", {
                addnCls: 'humane-flatty-success'
            });
        });

        promise.fail(function (data) {
            humane.log("Error in saving data, the administrators have been notified", {
                addnCls: 'humane-flatty-error'
            });
        });

    });

        generateInitTables();
        initializeTables();
    </script>

    <script type="text/javascript" src="assets/js/asset-details.js"></script>
</body>

</html>